<launch>
  <arg name="launch_prefix" default="" />
  <arg name="node_namespace" default="cctag_detector_node" />
  <arg name="camera_name" default="/camera" />
  <arg name="image_topic" default="color/image_raw" />

  <node pkg="cctag_ros" type="cctag_ros_node" name="$(arg node_namespace)" clear_params="true" output="screen" launch-prefix="$(arg launch_prefix)" >
    <!-- Remap topics from those used in code to those on the ROS network -->
    <remap from="image_rect" to="$(arg camera_name)/$(arg image_topic)" />
    <remap from="camera_info" to="$(arg camera_name)/camera_info" />
  </node>
  <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find detector)/rviz/urdf.rviz" required="true"/> -->
</launch>
