<launch>
  <arg name="name" default="whycon"/>
  <arg name="targets" default="4"/>

  <node name="whycon" type="whycon" pkg="whycon" output="screen">
    <param name="targets" value="$(arg targets)"/>
    <param name="name" value="$(arg name)"/>

    <!-- <param name="outer_diameter" value="0.192"/>
    <param name="inner_diameter" value="0.08"/> -->
    <param name="outer_diameter" value="0.3"/>
    <param name="inner_diameter" value="0.125"/>
  </node>
    <node name="whycon_uav" type="whycon_uav" pkg="whycon" output="screen"/>
  <node name="transformer" type="transformer" pkg="whycon" output="screen"/>
</launch>
  
